/* assets/style_autonomous.css */
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    color: #b77fb2;
}



button {
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #007BFF;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button.active {
    background-color: #28a745; /* Verde para indicar actividad */
}

#emergency-stop-btn {
    background-color: red;
    color: white;
}

#emergency-stop-btn:hover {
    background-color: #ff0000;
}

.status-div {
    padding: 10px;
    border-radius: 5px;
    background-color: #f8f9fa;
    color: #333;
    border: 1px solid #ccc;
}

.slider-container {
    margin-bottom: 20px;
}

.control-label {
    color: #fff;
    font-weight: bold;
}

.image-section, .status-div, .slider-container, .control-button {
    background-color: #333;
    color: #fff;
}

/* Customize further based on your requirements */




/* assets/style_remote.css */
.header-title {
    color: #e91e63; /* Rosado para el título */
    text-align: center;
}

.sensor-display, .control-label, .connection-status {
    color: #fff; /* Blanco para mejor visibilidad */
    font-weight: bold;
}

.control-button, .remote-btn, .emergency-btn, .capture-btn {
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #007BFF;
    transition: background-color 0.3s ease;
}

.control-button:hover, .remote-btn:hover, .emergency-btn:hover, .capture-btn:hover {
    background-color: #0056b3;
}

.emergency-btn {
    background-color: red;
}

.emergency-btn:hover {
    background-color: #ff0000;
}

.slider-container {
    margin-bottom: 20px;
}

.connection-status, .sensor-display {
    background-color: #333; /* Dark background for contrast */
}

.image-section, .status-div, .slider-container, .control-button {
    background-color: #333; /* Consistent dark theme for all control elements */
    color: #fff;
}
